@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 8%;
    --foreground: 0 0% 50%;

    --card: 0 0% 8%;
    --card-foreground: 0 0% 50%;

    --popover: 0 0% 8%;
    --popover-foreground: 0 0% 50%;

    --primary: 241 100% 72%;
    --primary-foreground: 210 20% 98%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 241 100% 72%;

    --muted: 0 0% 20%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 0 0% 20%;
    --accent-foreground: 241 100% 72%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 220 13% 91%;

    --radius: 0.5rem;
  }

  /* .dark {
    --background: 0, 0%, 50%;
    --foreground: 210 20% 98%;
 
    --card: 0, 0%, 50%;
    --card-foreground: 210 20% 98%;
 
    --popover: 0, 0%, 50%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 241, 100%, 72%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

@layer components {
  .padding {
    @apply px-4 py-4 sm:px-8 xl:px-32;
  }
}
@layer components {
  .text_size {
    @apply text-3xl sm:text-xl;
  }
}

.overlay {
  display: block;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.overlay {
  display: block;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.card {
  background: linear-gradient(105.87deg, rgba(255, 255, 255, 0.21) 3.04%, rgba(255, 255, 255, 0.06) 100.02%);
  backdrop-filter: blur(40px);
  border-radius: 13px;
  border: 2px solid;
  border-image-source: linear-gradient(95.35deg, #ffffff 0%, rgba(255, 255, 255, 0) 48.97%, #ffffff 100%);
}
.start2 {
  grid-column-start: 2 !important;
}

.bluebg {
  background: linear-gradient(180deg, #b9ddea 0%, #c8e3d6 100%);
}
.cborder {
  border: 1px solid rgba(255, 255, 255, 0.17);
}
